* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.workspace{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
}

/* Side-Bar css */
.side-bar{
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 2%;
    color: white;
    width: 18%;
    background-color: rgb(47, 115, 210);
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;  
}
.heading img{
    height: 50px;
    width: 40px;
    filter: invert(1);
}
.heading{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    font-size: 28px;
}
.working-container,.support-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.working-options,.support-options{
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.working-options img,.support-options img{
    height: 25px;
    width: 25px;
}
.side-bar a:hover{
    cursor: pointer;
    height:30px;
    width: 30px;
    /* padding-left: 3px; */
}

/* Header css */
.main-board{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}   
.header{
    padding: 2%;
    padding-right: 1%;
    /* height: 20%; */
    background-color: white;
    width: 100%;
}
.header-top{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* height: 20%; */
}
.search{
    display: flex;  
    gap: 5px;
    width: 65%;
}
#search-img{    
    height: 25px;
    width: 20px;
}
.search-box{
    border-radius: 12px;
    width: 95%;
    border: 1px solid black;
    background-color: rgb(234, 231, 231);
    height: 25px;
    border: none;
}
.search-box:focus{
    outline: none;
    border: 1px solid grey;
}
#login-name{
    font-weight: 800;
    width: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.bell-img{
    height: 20px;
    width: 20px;
}
.user-dp {  
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header-bottom{
    box-sizing: border-box;
    display: flex;  
    justify-content: space-between; 
    padding-top: 20px;
    align-items: center;
}
.left-item{
    display: flex;
    gap: 10px;
    align-items: center;
}
.left-item img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.header-down-text{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 10px;
}
.user-acknowledgement{
    font-size: 14px;
}
.user-name{
    margin: 0;
    font-size: 20px;
    font-weight: 800;
}
.right-item{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}
.buttons{
    margin-right: 30px;
    color: white;
    background-color:rgb(47, 115, 210);
    outline: none;
    border: none;
    border-radius: 14px;
    width: 75px;
    height: 25px;
}
.buttons:hover{
    border: 1px solid rgb(47, 115, 210);
    background-color: white;
    color: rgb(47, 115, 210);
    cursor: pointer;
}
/* Content box designing */
.content-box{
    width: 100%;
    background-color: rgb(234, 231, 231);
    display: flex;  
    padding: 2%;
}
/* .projects{
    width: 700px;
} */
.projects-content{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: 20px;   
}  
.content-heading{
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 7px;
}
.project-boxes{
    width: 330px;
    height: 130px;
    border:none;
    border-left: 7px solid rgb(211, 174, 63);
    border-radius: 5px;
    background-color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.project-up{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.project-heading{
    font-size: 16px;
    font-weight: 800;
}
.project-text{
    font-size: 14px;
    color: rgb(70, 71, 71);
}
.project-down{
    display: flex;
    gap: 5px;
    justify-content: right;
}
.project-icons{
    width: 20px;
    height: 20px;
}

/* Update trend section */
.update-trend{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 270px;
}
.update,.trend{
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 100%;
}
.trending,.announcements{
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    width: 100%;
    /* width: 270px; */
    display: flex;
    flex-direction: column; 
}
.announced{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid rgb(180, 186, 186);
    padding: 5px;
    padding-bottom: 10px;
}
.announced-heading{
    font-size: 14px;
    font-weight: 800;
}
.announced-text{
    font-size: 12px;
    color: rgb(70, 71, 71);
}
.trending{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.trend-img{
    height: 30px;   
    width: 30px;
    border-radius: 50%;
}   
.trends{
    display: flex;
    gap: 10px;
}
.trend-heading{
    font-size: 14px;
    font-weight:bold;
}
.trend-text{
    font-size: 12px;
    color: rgb(70, 71, 71);
}